In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import EDA

In [2]:
ls -lh ../data

total 35G
-rw-r--r-- 1 Kazuki Kazuki  62K Oct 14 12:36 target.f
-rw-r--r-- 1 Kazuki Kazuki 294M Oct 14 12:36 test.f
-rw-r--r-- 1 Kazuki Kazuki 268M Oct 14 12:48 test_f001.f
-rw-r--r-- 1 Kazuki Kazuki 853M Oct 14 15:20 test_f002.f
-rw-r--r-- 1 Kazuki Kazuki 854M Oct 14 15:22 test_f003.f
-rw-r--r-- 1 Kazuki Kazuki 5.0G Oct 14 15:25 test_f004.f
-rw-r--r-- 1 Kazuki Kazuki 4.2G Oct 14 15:24 test_f005.f
-rw-r--r-- 1 Kazuki Kazuki 320M Oct 15 13:20 test_f006.f
-rw-r--r-- 1 Kazuki Kazuki 2.2G Oct 15 15:42 test_f007.f
-rw-r--r-- 1 Kazuki Kazuki  27M Oct 14 14:10 test_f701.f
-rw-r--r-- 1 Kazuki Kazuki  21G Oct 14 12:46 test_log.f
-rw-r--r-- 1 Kazuki Kazuki 738K Oct 14 12:36 train.f
-rw-r--r-- 1 Kazuki Kazuki 616K Oct 14 12:48 train_f001.f
-rw-r--r-- 1 Kazuki Kazuki 2.0M Oct 14 15:12 train_f002.f
-rw-r--r-- 1 Kazuki Kazuki 2.0M Oct 14 15:12 train_f003.f
-rw-r--r-- 1 Kazuki Kazuki  12M Oct 14 15:12 train_f004.f
-rw-r--r-- 1 Kazuki Kazuki 9.6M Oct 14 15:12 train_f005.f
-rw-r--r-- 1 Kazuki Kazuki 737K Oct 15 13:11 train_f006.f
-rw-r--r-- 1 Kazuki Kazuki 5.1M Oct 15 15:07 train_f007.f
-rw-r--r-- 1 Kazuki Kazuki  62K Oct 14 14:10 train_f701.f
-rw-r--r-- 1 Kazuki Kazuki  66M Oct 14 12:36 train_log.f

In [3]:
tr = pd.read_feather('../data/train.f')
te = pd.read_feather('../data/test.f')
tr_log = pd.read_feather('../data/train_log.f')
te_log = pd.read_feather('../data/test_log.f')

In [6]:
tr.head()

,object_id,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
0,615,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92
1,713,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88
2,730,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42
3,745,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007,90
4,1124,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024,90

In [7]:
tr_log.head()

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [4]:
EDA.df_info(tr)

Shape: (7848, 12)

,DataType,#Nulls,#Uniques,Min,Mean,Max,Std,top10 val,top10 cnt,top10 raito
object_id,int64,0,7848,615.000000,4.810375e+07,1.307798e+08,4.347364e+07,"[78974, 50136410, 53935453, 110418764, 337180,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
ra,float64,0,3009,0.175781,1.697194e+02,3.598242e+02,1.142128e+02,"[33.574219, 150.820312, 52.91015600000001, 53....","[65, 64, 57, 57, 56, 53, 53, 52, 46, 45]","[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0..."
decl,float64,0,403,-64.760857,-2.725485e+01,4.181528e+00,2.024856e+01,"[-46.768478, -28.630989000000003, 3.583322, -2...","[94, 87, 70, 69, 69, 67, 66, 65, 62, 58]","[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0..."
gal_l,float64,0,5504,0.107681,2.304668e+02,3.599438e+02,9.741639e+01,"[223.280041, 321.472056, 236.341348, 319.54298...","[29, 28, 25, 25, 24, 23, 23, 23, 23, 22]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
gal_b,float64,0,5504,-89.615573,-2.011553e+01,6.593132e+01,4.039090e+01,"[-54.281374, -50.73533, -51.376556, 43.230123,...","[29, 28, 25, 25, 24, 23, 23, 23, 23, 22]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
ddf,int64,0,2,0.000000,2.696228e-01,1.000000e+00,4.437921e-01,"[0, 1]","[5732, 2116]","[0.73, 0.27]"
hostgal_specz,float64,0,3750,0.000000,2.544364e-01,3.445100e+00,3.300529e-01,"[0.0, 0.1703, 0.1145, 0.2517, 0.2524, 0.2367, ...","[2325, 6, 6, 6, 6, 6, 6, 5, 5, 5]","[0.3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
hostgal_photoz,float64,0,4025,0.000000,3.578845e-01,2.999400e+00,5.455516e-01,"[0.0, 0.1231, 0.1126, 0.1809, 0.2564, 0.1869, ...","[2325, 7, 7, 6, 6, 6, 5, 5, 5, 5]","[0.3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
hostgal_photoz_err,float64,0,2456,0.000000,1.556947e-01,1.734800e+00,3.003674e-01,"[0.0, 0.0143, 0.0148, 0.0132, 0.0164, 0.0125, ...","[2325, 24, 23, 23, 20, 20, 20, 20, 20, 20]","[0.3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
distmod,float64,2325,5300,31.996100,4.126396e+01,4.702560e+01,2.262711e+00,"[40.9868, 41.8773, 41.8196, 42.6063, 42.4889, ...","[4, 3, 3, 3, 3, 3, 3, 3, 3, 3]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
mwebv,float64,0,593,0.003000,8.195260e-02,2.747000e+00,1.505977e-01,"[0.019, 0.018000000000000002, 0.00900000000000...","[301, 275, 271, 240, 228, 206, 205, 194, 172, ...","[0.04, 0.04, 0.03, 0.03, 0.03, 0.03, 0.03, 0.0..."
target,int64,0,14,6.000000,6.089539e+01,9.500000e+01,2.876798e+01,"[90, 42, 65, 16, 15, 62, 88, 92, 67, 52]","[2313, 1193, 981, 924, 495, 484, 370, 239, 208...","[0.29, 0.15, 0.12, 0.12, 0.06, 0.06, 0.05, 0.0..."

In [5]:
EDA.df_info(te)

Shape: (3492890, 11)

,DataType,#Nulls,#Uniques,Min,Mean,Max,Std,top10 val,top10 cnt,top10 raito
object_id,int64,0,3492890,13.000000,6.528181e+07,1.307881e+08,3.783131e+07,"[67112958, 14507713, 81698346, 52340414, 22974...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
ra,float64,0,12811,0.000000,1.705897e+02,3.598242e+02,1.092068e+02,"[53.4375, 53.085938, 66.621094, 331.875, 26.89...","[2739, 2665, 2597, 2553, 2542, 2535, 2526, 248...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
decl,float64,0,404,-64.760857,-2.624964e+01,4.181528e+00,1.764381e+01,"[-21.702768, -30.865254999999998, -27.784405, ...","[12137, 12131, 11858, 11775, 11753, 11686, 116...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
gal_l,float64,0,50084,0.010369,2.178545e+02,3.599956e+02,1.081992e+02,"[326.278557, 329.485675, 327.956322, 328.53142...","[309, 306, 305, 294, 293, 291, 285, 282, 279, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
gal_b,float64,0,50081,-89.674414,-1.843280e+01,6.606870e+01,3.958926e+01,"[-69.858253, -69.15090500000001, -68.803772, -...","[309, 306, 305, 294, 293, 291, 285, 282, 279, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
ddf,int64,0,2,0.000000,9.426578e-03,1.000000e+00,9.663188e-02,"[0, 1]","[3459964, 32926]","[0.99, 0.01]"
hostgal_specz,float64,3372497,8052,0.007700,3.059878e-01,1.201400e+00,1.599283e-01,"[0.3099, 0.2555, 0.239, 0.2466, 0.2482, 0.3005...","[56, 50, 47, 46, 45, 45, 45, 44, 44, 43]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
hostgal_photoz,float64,0,29858,0.000000,5.168159e-01,3.000000e+00,4.491342e-01,"[0.0, 0.4481, 0.4787, 0.4541, 0.4659, 0.451, 0...","[390510, 566, 562, 559, 558, 557, 554, 554, 55...","[0.11, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
hostgal_photoz_err,float64,0,11103,0.000000,1.535211e-01,1.871400e+00,2.752581e-01,"[0.0, 0.0136, 0.0101, 0.01, 0.0175, 0.0095, 0....","[390510, 8264, 8208, 8061, 7857, 7830, 7824, 7...","[0.11, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
distmod,float64,390510,103633,27.646200,4.217862e+01,4.702610e+01,1.587242e+00,"[42.4333, 42.5537, 42.7395, 42.6734, 42.5592, ...","[135, 134, 134, 133, 133, 132, 132, 131, 131, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
mwebv,float64,0,1513,0.002000,9.196644e-02,2.994000e+00,1.551435e-01,"[0.012, 0.013000000000000001, 0.01399999999999...","[68973, 68425, 66001, 64031, 61940, 61537, 614...","[0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.0..."

In [8]:
tr_log.min()

object_id    6.150000e+02
mjd          5.958003e+04
passband     0.000000e+00
flux        -1.149388e+06
flux_err     4.637530e-01
detected     0.000000e+00
dtype: float64

In [9]:
te_log.min()

object_id    1.300000e+01
mjd          5.958003e+04
passband     0.000000e+00
flux        -8.935484e+06
flux_err     4.637530e-01
detected     0.000000e+00
dtype: float64